html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Inter;
}
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fceff2;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.behouder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.box {
  /* background-color: #FBEFF2; */
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}
.box-centraal {
  height: 100vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  position: relative;
}
.inhoud {
  width: 45vw;
}
.lijst {
  padding-left: 20px;
  color: #444;
  line-height: 1.6;
  list-style-type: disc;
}
.lijst li {
  margin-bottom: 12px;
  display: list-item;
  unicode-bidi: isolate;
}
::marker {
  color: #444;
}
.aandacht {
  background-color: #e9adbb;
  color: white;
  padding: 18px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}
.box-bodem {
  height: 90vh;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 40px;
}
.inhoud h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}
.titel-column-lijst {
  font-size: 22px;
  color: #333;
  font-weight: 600;
}
.image_divider {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.image_locatie {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 2px solid #444;
}
.image_houding {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 2px solid #444;
}
.image_div {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 17vw;
  transition: transform 0.3s ease;
}
.mini {
  width: 35vw;
  justify-self: center;
}
.image_hover_tekst {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.35s ease;
  border-radius: 12px;
  padding: 5px;
}
.image_div:hover .image_hover_tekst {
  opacity: 1;
}
.image_div:hover .image_locatie {
  transform: scale(1.05);
}
.image_div:hover .image_houding {
  transform: scale(1.05);
}
.inhoud p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}
.box-footer {
  height: 10vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.sectie-z {
  background-color: #fceff2;
  padding: 40px;
}
.lijst-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.woordgebruik-divider-lijsten {
  width: 40vw;
  margin: 0 auto;
}
.dubbel-lijst {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 40vw;
  background-color: #f9d8df;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  list-style-position: inside;

  /* vertical divider between columns */
  column-gap: 0;
  border-left: 1px solid #ffffff55;
  border-right: 1px solid #ffffff55;
}

.dubbel-lijst li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #333;
}

.dubbel-lijst li:nth-child(2n) {
  border-left: 1px solid #333;
}

.dubbel-lijst li:last-child,
.dubbel-lijst li:nth-last-child(2) {
  border-bottom: none;
}

.textbox {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#landing-text {
  height: 40vh;
  background-color: #e9adbb;
  width: 35%;
  border-radius: 60px;
  position: relative;
}
#landing-titel {
  font-weight: 800;
  font-size: 38;
  color: #fffafb;
  font-family: Inter;
}
#landing-footer {
  font-weight: 400;
  color: #fbeff2;
  font-size: 20;
  font-family: Inter;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10%);
  }
}
@keyframes fadeBounce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#asvg {
  height: 4vh;
  width: 4vh;

  align-self: center;
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  opacity: 0;
  animation: fadeBounce 2s ease-in-out forwards, bounce 1.8s 2s infinite;
}

.asvgr {
  height: 4vh;
  width: 4vh;

  align-self: center;
  position: absolute;
  bottom: 1vh;
  left: 50%;

  display: block;

  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  transition: opacity 1.5s ease;
}
.scroll-arrow.visible {
  opacity: 1;
  pointer-events: auto;
  animation: bounce 1.8s infinite;
}

.scroll-down-svg-begin {
  width: 100%;
  height: 100%;
  fill: white;
  stroke: white;
}
.scroll-down-svg {
  width: 100%;
  height: 100%;
  fill: #e9adbb;
  stroke: #e9adbb;
}
#een {
  background-color: #fbeff2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#twee {
  background-color: yellow;
}

#drie {
  background-color: #fbeff2;
}
